.Header {
    width: 100%;
    height: 50rem;
    background: rgba(50, 29, 132, 0.9);
    @media(max-width:601px){
        height:35rem;
    }

    // color:#3b1d84;
    .image {
        position: absolute;
        width: 100%;
        height: 50rem;
        top: 0;
        right: 0;
        // background-image: url('https://webpostingreviews.com/wp-content/uploads/2017/06/F1-9-1.jpg?x70743');
        background-image: url('https://images.livemint.com/img/2019/07/09/600x338/Indian_cuisines_1562661658241.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 10%;
        @media(max-width:601px){
            height:35rem;
        }
        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }
    }

    .info {
        position: relative;
        padding: 20% 1%;
        padding-top: 40%;
        display: flex;
        flex-direction: column;
        color: white;
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        text-align: center;
        align-items: center;

        @media screen and (min-width:600px) {
            padding: 0 10%;
            padding-right: 15%;
            padding-top: 13%;
        }

        h1 {
            font-size: 2.1rem;
            font-family: 'Alegreya', serif;
            width: 100%;
            line-height: 1;
            color: rgba(255, 255, 255, 10);

            @media screen and (min-width:600px) {
                font-size: 4rem;
            }
        }

        p {
            width: 80%;
            font-size: 0.8rem;
            text-align: center;

            @media screen and (min-width:600px) {
                font-size: 1.3rem;
                width: 75%;
            }
        }

        button {
            margin-top: 2rem;
        }
    }

}