.cart {
    position: fixed;
    width: 40%;
    max-width: 80%;
    height: 100vh;
    overflow-y:scroll;
    padding: 5%;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: hsl(257, 64%, 32%);
    padding-top: 2%;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; 
    button{
        margin:0 30%;
        margin-top:4rem;
    }
    @media(max-width:600px){
        width:75%;
    }
    color: #000;
    .cart_empty{
        margin:3rem auto;
        color:#fff;
       
        img{
            margin:0;
            width:13rem;
            height:13rem;
            object-fit: cover;
        }
        .info_text{
           font-size:2rem;
           text-align:center;
           font-weight:bold;
        }
        .continue{
            text-align:center;
            cursor:pointer;
            margin-top:10px;
        }
    }
    .cart_items{
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-between;
        .cart_item{
            padding:2rem 5%;
            background:#fff;
            margin-bottom:1rem;
            box-shadow:1px 1px 2px #000;
            border-radius: 5px;
            width:100%;
            box-sizing:border-box;
        
            div{
                margin-bottom:1rem;
                font-size:1.2rem;
                font-weight:bold;
            }
        }
    }

    h2 {
        font-size: 3rem;
        color: #fff;
        text-align:center;
        margin-bottom:0;
    }

    img {
        width:6rem;
        height: 6rem;
        margin:0 35%;
    }
}

.Show {
    transform: translateX(0);
}

.Hide {
    transform: translateX(100%)
}