.toggle{
    width:40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding:10px 0;
    box-sizing: border-box;
    @media (min-width:600px){
        display: none;
    }
    
    div{
        width:90%;
        margin-bottom:7px;
        height:5px;
        background-color: #fff;
    }
}