.card{
    width:23%;
    box-sizing: border-box;
    background:#fff;
    margin-top:2rem;
    // border: 1px solid #41b661;
    box-shadow: 12px 15px 15px rgba(52, 89, 72, .07);
    border-radius: 7px;
    padding:5px;
    font-weight:bold;
    @media(max-width:601px){
        width:100%;
    }
    img{
        width:100%;
        height:15rem;
        display:block;
    }
    div{
    padding:10px 10px;
    div{
        display:flex;
        flex-flow: row;
        justify-content: space-around;
       
    }
    button{
        padding:0.5rem 0.7rem;
        font-size:10px;
    }
    }
}