.app {
    // background:#39bda7;
    padding: 5% 0;
    position: relative;

    .abs {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        height: 20rem;

        // object-fit:cover;
        @media(max-width:600px) {
            height: 8rem;
            width: 8rem;
        }
    }

    .abs2 {

        position: absolute;
        bottom: -7%;
        left: 0;
        z-index: 1;
        height: 21rem;

        // object-fit:cover;
        @media(max-width:600px) {
            height: 8rem;
            z-index:0;
            width: 8rem;
        }

    }

    h2 {
        text-align: center;
        font-size: 3rem;
        margin-top: 2rem;

        @media(max-width:600px) {
            font-size: 2rem;
        }
    }

    p {
        width: 100%;
        text-align: center;

        @media(min-width:600px) {
            text-align: unset;
        }
    }

    .column {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .row {
            display: flex;
            padding: 0 5%;

            h3 {
                text-align: center;
            }

            div {
                width: unset;
               position: relative;
                img {
                    display: none;
                }
            }

            @media(min-width:600px) {
                h3 {
                    text-align: start;
                }

                flex-flow:row;
                justify-content: space-around;
                padding:0 5%;
                margin-bottom:3rem;
                align-items: center;

                div {
                    width: 30%;

                    img {
                        width: 100%;
                        display: block;
                        padding: 1rem;
                        object-fit: cover;
                        height: auto;
                    z-index:10;

                        // height:30vh;
                    }
                }
            }
        }
    }
}