.NavBar{
    height:56px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    // background: rgba(50, 29, 132, 0.9);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
    padding-top:2rem;
    box-sizing:border-box;
    z-index:90;
    @media(max-width:500px){
       flex-flow: row-reverse;
    }
     nav{
         height:100%;
     }
}

@media(max-width:500px){
    .desktop{
        display:none;
    }
}