.sidenav{
    position:fixed;
    width:230px;
    max-width:70%;
    height:100%;
    left:0;
    top:0;
    z-index:200;
    background-color:hsl(257, 64%, 32%);
    padding-top:5%;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    @media(min-width:600px){
        display:none;
    }
}

.Open{
    transform: translateX(0);
}
.Close{
    transform:translateX(-100%) 
}


