.product_component {
    color: #fff;
    background: #AA076B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    box-sizing: border-box;

    @media(min-width:600px) {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .product_image {
        display: none;

        @media(min-width:600px) {
            display: block;
            width: 45%;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.7;
                object-fit: cover;
            }
        }
    }

    .product_details {
        padding: 1rem 5%;

        h1 {
            text-align: center;
            color: #fff;
            margin-bottom: 4rem;
        }

        p {
            font-size: 1.3rem;
        }

        @media(min-width:600px) {
            width: 40%;
        }

        button {
            display: inline;
            margin-top: 3rem;
            border-radius: unset;
        }
    }
}