.modal_app{
    position:fixed;
    z-index:500;
    background: #fff;
    width:80%;
    border:none;
    box-shadow: 1px 1px 1px #000;
    left:10%;
    right:10%;
    top:10%;
    box-sizing:border-box;
    transition: all 0.6s ease-out;
    @media(min-width:600px){
        width:70%;
        left:15%;
        right:15%;
        top:15%;
        height:35rem;
    }
}