.item{
    // margin:10px 0;
    box-sizing: border-box;
    display:block;
    width:100%;
    a{
        color:#fff;
        text-decoration: none;
        width:100%;
        cursor: pointer;
        box-sizing:border-box;
        display:block;
        padding:1rem 2rem;
        // margin-left:30px;
        &:hover,&:active,&.active{
            background-color:rgba(252,25,155,0.9);
            color:#fff;
        }
    }
    @media(min-width:600px){
       margin:0;
       display:flex;
       height:100%;
       width:auto;
       align-items:center;
        a{
           height:100%;
           padding:0 10px; 
           &:hover,&:active,&.active{
            color:rgba(252,25,155,1);
            background-color:unset;
         }
       }
    }
   
}

