h1{
    text-align:center;
    font-size:3rem;
    margin-top:2rem;
}
.Info{
    display:flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    padding:1rem;
    background: url('https://hips.hearstapps.com/del.h-cdn.co/assets/17/31/640x959/gallery-1501882967-delish-oven-fried-cherry-tomatoes-pinterest2.jpg?resize=480:*');
    background-repeat: no-repeat;
    background-size: cover;
  
    box-sizing:border-box;
    align-items: center;
    padding-top:2rem;
    @media (min-width:600px) {
        padding:1rem 3rem;
        padding-left:10%;
        background:unset;
    }
    .text{
        width:100%;
        display:flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;  
        padding:1rem 2rem;
        background: rgba(0,0,0,0.8);
        color:#fff;
        h3{
          color:#fff;
        }
        @media (min-width:600px) {
            width:50%;
            background:none;
            color:#000;
            h3{
                color:#102649;
            }
        }
        .text-body{
            padding:1rem;
            cursor:pointer;
            transition:all 0.7s;
            &:hover{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
            }
        }
    }
    .Image{
        width:40%;
        height:50rem;
        display:none;
        background: url('https://hips.hearstapps.com/del.h-cdn.co/assets/17/31/640x959/gallery-1501882967-delish-oven-fried-cherry-tomatoes-pinterest2.jpg?resize=480:*');
        background-repeat: no-repeat;
        background-size: cover;
        @media(min-width:600px){
            display: block;
            // background: #fff;
        }
        .overlay{
            height:100%;
        border-radius: 5px;
            width:100%;
            background: rgba(0,0,0,0.7)
        }
    }
}