.start_app {
    padding:5rem;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    @media(max-width:601px){
        padding:2rem;
        }
    .start_info{
        padding-left:10%;
        padding-top:5rem;
        @media(max-width:601px){
        padding:0;
        }
        p{
            font-size:1.5rem;
        }
    }
    img {
        height: 25rem;
        width: auto;
        @media(max-width:601px){
            display:none;
        }
    }
}