body {
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:"Open Sans",sans-serif;
} 
html{
  font-size:15px;
}
h1,h2,h3,h4{
  font-family: 'Alegreya', serif;
  color:#102649;  
}
h3{
  font-size:1.6rem;
}
p{
  font-size:13px;
}
button {
  padding: 1.2rem 3rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: #39bda7;
  border: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #41b661;
  -webkit-transition: ease-out 0.9s;
  -moz-transition: ease-out 0.9s;
  transition: ease-out 0.9s;


  &:hover {
      // background: #41b661;
      box-shadow: inset 400px 0 0 0 #41b661;
  }
}