.products {
    // background: url('https://img.theweek.in/content/dam/week/news/sci-tech/2018/february/nut-nuts-girl-eating-food-eat-shut.jpg');
    background: url('../../assets/images/vege.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;

    .overlay {
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(252, 25, 155, 0.9) -230%, rgba(20, 0, 255, 0.95) 310%);
        padding: 15% 0;
        h1{
            color:#fff;
            letter-spacing: 1px;
            margin-bottom:3rem;
            @media(max-width:601px){
                font-size:2rem;
                margin-top:20%;
            }
        }

    }

    .product_list {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 10%;
        @media(max-width:601px){
            flex-flow:column;
        }
    }
}

.cartBtn{
    position:fixed;
    bottom:0;
    width:200px;
    font-size:1.2rem;
    right:0;
    &:hover{
        box-shadow:unset;
    }
}