.app-testimonial {
    background: rgba(52, 89, 72, .07);

    h2 {
        text-align: center;
        padding: 3rem 0;
        font-size: 3rem;
    }
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    flex-flow: column;
    justify-content: space-between;
    box-sizing: border-box;
    div {
        width: 100%;
        height: unset;
        margin-bottom:40px;
        box-sizing: border-box;
        border: 1px solid #41b661;
        box-shadow: 12px 15px 15px rgba(52, 89, 72, .07);
        border-radius: 7px;
    }

    h3,
    p {
        padding: 5px 10px;
        line-height: 1.7rem;
        overflow: auto;

        span {
            font-weight: bold;
            font-size: 0.9rem;
        }

        img {
            height: 100px;
            display: block;
            object-fit: cover;
            width: 100px;
            border-radius: 10px;
        }

       
    }

    @media(min-width:600px) {

        flex-flow: row;

        div {
            width: 30%;
            // height:25rem;
        }
    }
}